page-addhumancases {
    .label{
        padding-top: 0;
        padding-right: 10px;
        color:#1f2022;
        font-weight: bold;
        font-size: 15px;
       
         } 
     
   .ion-list{
       padding-top:10px    ;
    
       
        }
   
   
   
      .input{
       background-color:white;
       margin:0; 
       border-radius: 25px;
       color:black;
       padding-right: 5px;
       font-size: 15px;
       border: 1px solid #7f8c8d;
     
    
        }
    .item{
          margin: 0;
   //     text-align: right;
   //     background-color:white;
   //     margin: 10px;
   //     border-radius: 25px;
       
       
   }
   .ion-textarea{
       width: 100%;
       height: 150px;
       padding: 12px 20px;
       box-sizing: border-box;
       border: 2px solid #ccc;
       border-radius: 4px;
       background-color: #f8f8f8;
       resize: none;
   }
   .button{
       border-radius: $button-md-border-radius;
   }

   

}
