
page-needing {    
         
                 .title{
                   text-align: center;                
             
                
                }        
                

               .ion-searchbar{
                 text-align: right;
                color:#2093eb;  
                
        
                }

                
             
                .img{

                  border-radius: 100px;
                  background-color:rgb(240, 12, 12) ;
                  
                  }
                


              


          .button{
            border-radius:25px;  
            background-color:white; 
            width:75px ;
            height:20px ;  
            
        
          
          }

         // ion-buttons end{

           // margin-right:300px;
           // margin-left:0px; 
                   

          //}

        
}
