
page-needing {    


         
                .title{
                     text-align: center;
                      
                     color : #178ce6; 
                     margin-bottom:40px;
                      //padding-top: 1px;
                      padding-bottom: px;
                     // margin-top:25px ; 
                 }

              
                     
                     
                
                

                ion-searchbar{
                 text-align: right;
                 color:#2093eb;  
                
        
                }

                
                ion-icon{
                    color: #178ce6;                
                
                    text-align: center 
                    
                  }  

                  ion-button{
                
                   // padding-bottom: 10px;
                    text-align: center ;
                    padding-top: 10px;
                    margin-top:100px ;
                    margin-bottom: 0px;
                    width: 0px;
                }  

              

               ion-navbar{
                height: 50px;
            }
            
            ion-avatar{           
            
                color:#1188e2 ;
                padding-top: 5px;
                margin-bottom:0px;
                margin-top: 40px;
                margin-right:0px;
                margin-left:350px; 
            }
             
               


}
