
 page-home {

  ion-col{     
    height:100px;
    width: 50px;
   margin-left:25; 
   margin-right:25px;
   border-radius: 100px;
   }

   button{
    height:100%;
    width: 100%;
    margin-left:25; 
    margin-right:0px;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom:0px ;
    text-align: top;
    tab-size: 50px;
    font-weight: bold;
    background-color:#9fa0a3 ;
   color:white;
   }


   ion-title{
     color:#127bca ;
     font-weight: bold;
    
   }



   ion-header{   
     background-color: #fae2e2 ;
   }

    
img{

 border-radius: 100px;
   background-color:#127bca  ;
   }

  
  

  

}
