
 page-home {

  ion-col{     
    height:100px;
    width: 100px;
   margin-left:25; 
   margin-right:25px;
   border-radius: 100px;
   }

   button{
    height:70%;
    width:100%;
    margin-left:25; 
    margin-right:5px;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom:0px ;
    text-align: top;
    tab-size: 50px;
    font-weight: bold;
     background-color:#488aff ;
   // background-color:#9fa0a3 ;
     color:white;
     //border: 5px dashed rgb(230, 48, 48);
     border: 4px inset #f53d3d;

   }


   ion-title{
     
     font-weight: bold;
    
   }  

    
  img{

   border-radius: 100px;
   background-color:white ;
   }

  
  
     ion-navbar{
      height: 80px;            
    
      }
      
    // background{
      // border:100px;
      // border-color: red;
    // } 


     ion-card  {
  
      background:$card-md-background-color ;
      max-height:500px;
   //    margin-bottom:0;
      border: none;
      padding-right:0;
      padding-left: 0;
      width:100%;
      position: relative;
      color:white;
      margin-right: $card-ios-margin-right;
      font-family: $font-family-md-base;
   }  
   .hr{
     //color:#488aff; 
     border: 4px inset #f53d3d;

   }

   .ion-footer{
     background-color: #488aff;
   }

}
