
 page-home {

  ion-col{     
    height:100px;
    width: 100px;
   margin-left:25; 
   margin-right:25px;
   border-radius: 100px;
   }

   button{
    height:100%;
    width:70%;
    margin-left:25; 
    margin-right:30px;
    border-radius: 100px;
    padding-top: 10px;
    padding-bottom:0px ;
    text-align: top;
    tab-size: 50px;
    font-weight: bold;
     background-color:#488aff ;
   // background-color:#9fa0a3 ;
     color:white;
     //border: 5px dashed rgb(230, 48, 48);
     border: 4px inset #f53d3d;

   }


   ion-title{
     
     font-weight: bold;
    
   }  

    
  img{

   border-radius: 100px;
   background-color:white ;
   }

  
  
     ion-navbar{
      height: 100px;            
    
      }
      
     background{
       border:100px;
       border-color: red;
     } 

  

}
