page-showneeding {

   
  p{
    margin-left: 10%;
    margin-right:0;
  }

  ion-icon{
    margin-left: 5%;
    margin-right:5%;
    margin-top:70px; 
   }
   

  ion-col{
   height: 100%;
    }

    


     img{

        border-radius: 100px;
        background-color:rgb(240, 12, 12) ;
        }

        
      
      
  
}
